<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.asiainfo.alarm.dao.IAlarmDao">
    <select id="getSourceTableInfo">

    </select>

    <select id="querySourceTabName" parameterType="map">
        SELECT data_src_tab_name
        FROM dim_coc_index_table_info
        WHERE table_data_cycle = #{dataCycle}
    </select>
</mapper>